out/*
out
target/*
target
mill
mill.*
.metals
project/
.vscode
obj_dir/*
obj_dir
.bloop
.metals
log
.DS_Store
.bloop
.ropeproject
./Machine.sv
zig-out/*
zig-out
.zig-cache/*
.zig-cache
.helix
.cache/*
compile_commands.json
